@import "tailwindcss";

@theme {
  --font-display: "Roboto Slab", serif;
}

.nav-btn {
    @apply text-black no-underline! font-display  hover:text-amber-300;
    
  }
  .icon{
  @apply  bg-white py-6 px-4 hover:shadow-xl
   hover:bg-indigo-50 ;
}
.num{
  @apply text-5xl font-bold text-indigo-600 ;
}
